* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #191818;
}

.image-main {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.image-main img {
    width: 80%;
    max-width: 1000px;
    height: auto;
}

.container-top {
    z-index: 1;
    padding: 15px;   
    display: flex;
    justify-content: right;
}

.sub-menu-right{
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    display: flex;
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 3px;
}

.links-menu-right { 
    text-decoration: none;
    color: white;
    text-align: center;
    margin-right: 15px;
}

.container-main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la página */
    min-height: 600px; /* Establece una altura mínima para el contenedor */
    background-color: #333; /* Puedes cambiar el color de fondo según tu diseño */
    padding: 5px; /* Añade un poco de padding si es necesario */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del contenedor */
    background-image: url('../images/image_main.png'); /* Cambia esta ruta por la ubicación de tu imagen */
    background-size: cover; 
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */

}


.title {
    font-size: 10vw; /* Usa unidades relativas a la anchura de la ventana gráfica */
    text-align: center;
    color: white;
    font-family: 'Impact', Helvetica, sans-serif;
    font-size: 120px;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ff0000;
    padding: 13px;
    border-radius: 2px;
    margin: 0 240px; /* Añadir márgenes laterales */
}


@media (max-width: 1025px) {

    .title {
        font-size: 8vw; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    }

    .sub-menu-right {
        display: none;
        position: absolute;
        right: 20px;
        top: 60px; /* Ajusta para que el menú esté más abajo del ícono */
        flex-direction: column;
        background-color: #ff0000; /* Color de fondo del menú desplegable */
        width: 200px; /* Ajusta según sea necesario */
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);

    }

    .menu-open .sub-menu-right{
        z-index: 2;
        display: flex;
        width: auto;
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        background-color: #ff0000;
        font-size: 18px;
        padding: 10px 0px;
        border-radius: 2px;
    }

   
    .hamburger-icon {
        display: flex;
        position: absolute;
        right: 20px;
        top: 5px;
    }
}

.main-accordion-container{
    width: 100%;
}

.accordion-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.accordion-item:hover{
   
    transform: scale(1.05);
    /* font-weight: bolder; */
}

.accordion-title{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', sans-serif;
    padding: 10px 0;
}

.tab-active .accordion-title {
    font-size: 20px;
}

.accordion-desc{
    width: calc(100% - 400px);
    height: auto;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
   
}

.accordion-title .tab-active{
    font-size: 30px;
    pointer-events: visible;
}

.tab-active .accordion-desc{
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #ff0000;
    border-radius: 2px;
}
