* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.image-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-main img {
    width: 100%;
    height: 100%;
}

.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    height: 100vh;  /*Este parametro es que coloca el elemento en el centro de la pantalla*/
    position: relative;
}
.titulo{
    text-align: center;
    color: white;
    font-family:'Impact', Helvetica, sans-serif;
    font-size:120px; 
    font-weight: 700;
}

.subtitulo{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ff0000;
    padding: 13px;
}